
body{
    background-color: lightgray;
}
h1 {
    text-align: center;
}
.conteiner-imagem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imagem-padrao {
    border: 2px solid ;
    padding: 5px; 
    width: 200px;
    height: 200px;
}

a { 
    cursor: pointer;
    color: blue;
    text-decoration: dotted;
}
